<div class="image-block">
  <img src="{{ product.featured_image | img_url: 'medium' }}" alt="{{ product.title }}">
</div>
<h3>
  <a href="{{ product.url }}">{{ product.title }}</a>
</h3>
<product-form data-section-id="{{ section.id }}">
  {%- form 'product',
    product,
    id: product_form_id,
    class: 'form',
    novalidate: 'novalidate',
    data-type: 'add-to-cart-form'
  -%}
    <input
      type="hidden"
      name="id"
      value="{{ product.selected_or_first_available_variant.id }}"
      class="product-variant-id"
      {% if product.selected_or_first_available_variant.available == false %}
        disabled
      {% endif %}
    >
    <button
      id="{{ product_form_id }}-submit"
      type="submit"
      name="add"
      class="quick-add__submit"
      aria-haspopup="dialog"
      aria-labelledby="{{ product_form_id }}-submit title-{{ section.id }}-{{ product.id }}"
      aria-live="polite"
      data-sold-out-message="true"
      {% if product.selected_or_first_available_variant.available == false %}
        disabled
      {% endif %}
    >
      <span>
        {%- if product.selected_or_first_available_variant.available -%}
          Add To Cart
        {%- else -%}
          Sold Out
        {%- endif -%}
      </span>
    </button>
  {%- endform -%}
</product-form>
