<script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
<predictive-search>
  <form action="{{ routes.search_url }}" method="get" role="search">
    <input
      id="Search"
      type="search"
      class="border-none background-none"
      name="q"
      value="{{ search.terms | escape }}"
      placeholder="Enter Search"
      role="combobox"
      aria-expanded="false"
      aria-owns="predictive-search-results"
      aria-controls="predictive-search-results"
      aria-haspopup="listbox"
      aria-autocomplete="list"
    >
    <input name="options[prefix]" type="hidden" value="last">
    <button class="search__button field__button position-absolute border-none background-none" aria-label="{{ 'general.search.search' | t }}">
      <span class="svg-wrapper">
        {{- 'icon-search.svg' | inline_asset_content -}}
      </span>
    </button>
    <div id="predictive-search" tabindex="-1"></div>
  </form>
</predictive-search>