<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}
    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>
    <meta name="description" content="{{ page_description | escape }}">
    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    {%- if cart != empty -%}
      <script src="{{ 'cart.min.js' | asset_url }}"></script>
    {% endif %}
    {% style %}
      {{ settings.font-family | font_face: font_display: 'swap' }}
    {% endstyle %}
    <style>
      :root{
        --font-family:{{ settings.font-family.family }},{{ settings.font-family.fallback_families }};
        --page-width:{{ settings.page-width }};
        --product-card-gap:{{ settings.product-card-gap }}px;
        --row-gap:{{ settings.spacing_grid_horizontal }}px;
        --column-gap:{{ settings.spacing_grid_vertical }}px;
        --section-padding-top:{{ settings.section-padding-top }}px;
        --section-padding-bottom:{{ settings.section-padding-bottom }}px;
        /* start button style */
        --button-text-color:{{ settings.button-text-color }};
        --button-bg-color:{{ settings.button-bg-color }};
        --button-font-size:{{ settings.button-font-size }}px;
        /* end button style */
      }
    </style>
  </head>
  <body class="gradient">
    {% sections 'header-group' %}
    <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
    {% sections 'footer-group' %}
    <script src="{{ 'quick-view.js' | asset_url }}"></script>
    {% render 'popup-model' %}
  </body>
</html>
