<div class="featured-product-section">
  <div class="page-width">
    <div class="product-block flex flex-wrap align-items-center gap">
      {% assign product = section.settings.product %}
      <div class="image-block w-50">
        <img
          src="{{ product.featured_media | image_url }}"
          alt="{{ product.featured_media.alt | escape }}"
          loading="lazy"
          width="{{ product.featured_media.width }}"
          height="{{ product.featured_media.height }}"
        >
      </div>
      <div class="text-block w-50">
        <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
        <p>{{ product.price | money }}</p>
        <form action="/cart/add" method="post" id="product-form- {{ product.id }}">
          <input type="hidden" name="id" value="{{ product.variants.first.id }}">
          <button type="submit" name="add">Add to cart</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Featured Product",
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "Product"
      }
    ],
    "presets": [
      {
        "name": "Featured Product"
      }
    ]
  }
{% endschema %}