<div class="featured-product-section">
  <div class="page-width">
    <div class="product-block">
      {% assign product = section.settings.product %}
      <div class="image-block">
        <img
          srcset="
            {%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
            {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
            {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
            {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
            {{ product.featured_media | image_url }} {{ product.featured_media.width }}w
          "
          src="{{ product.featured_media | image_url: width: 533 }}"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
          alt="{{ product.featured_media.alt | escape }}"
          class="motion-reduce"
          {% unless lazy_load == false %}
            loading="lazy"
          {% endunless %}
          width="{{ product.featured_media.width }}"
          height="{{ product.featured_media.height }}"
        >
      
        {%- if product.media[1] != null -%}
          <img
            srcset="
              {%- if product.media[1].width >= 165 -%}{{ product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if product.media[1].width >= 360 -%}{{ product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if product.media[1].width >= 533 -%}{{ product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
              {%- if product.media[1].width >= 720 -%}{{ product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
              {%- if product.media[1].width >= 940 -%}{{ product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
              {%- if product.media[1].width >= 1066 -%}{{ product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
              {{ product.media[1] | image_url }} {{ product.media[1].width }}w
            "
            src="{{ product.media[1] | image_url: width: 533 }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
            alt=""
            class="motion-reduce"
            loading="lazy"
            width="{{ product.media[1].width }}"
            height="{{ product.media[1].height }}"
          >
        {%- endif -%}
      </div>
      <div class="text-block">
        <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
        <p>{{ product.price | money }}</p>
        <form action="/cart/add" method="post" id="product-form- {{ product.id }}">
          <input type="hidden" name="id" value="{{ product.variants.first.id }}">
          <button type="submit" name="add">Add to cart</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Featured Product",
    "settings": [
      {
        "type": "product",
        "id": "product",
        "label": "Product"
      }
    ],
    "presets": [
      {
        "name": "Featured Product"
      }
    ]
  }
{% endschema %}