<div class="header-section">
  <div class="page-width">
    <div class="header-item-row flex justify-content-between align-items-center p-t-20 p-b-20">
      <div class="header-item-logo">
        {%- if request.page_type == 'index' -%}
          <h1 class="header__heading">
        {%- endif -%}
        <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
              {%- if settings.logo != blank -%}
                <div class="header__heading-logo-wrapper">
                  {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                  {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                  {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                  {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                  {{ settings.logo | image_url: width: 600 | image_tag:
                    class: 'header__heading-logo motion-reduce',
                    widths: widths,
                    height: logo_height,
                    width: settings.logo_width,
                    alt: logo_alt,
                    sizes: sizes,
                    preload: true
                  }}
                </div>
              {%- else -%}
                <span class="h2">{{ shop.name }}</span>
              {%- endif -%}
            </a>
        {%- if request.page_type == 'index' -%}
          </h1>
        {%- endif -%}
      </div>
      <div class="header-search-field position-relative">
        {% render 'header-search-field' %}
      </div>
      <div class="header-icons">
        {%- if shop.customer_accounts_enabled -%}
          <a
            href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
            class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}"
            rel="nofollow"
          >
            {%- if section.settings.enable_customer_avatar -%}
              <account-icon>
                {%- if customer and customer.has_avatar? -%}
                  {{ customer | avatar }}
                {%- else -%}
                  <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
                {%- endif -%}
              </account-icon>
            {%- else -%}
              <span class="svg-wrapper">{{ 'icon-account.svg' | inline_asset_content }}</span>
            {%- endif -%}
          </a>
        {%- endif -%}
        <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset position-relative" id="cart-icon-bubble">
          <span class="svg-wrapper">{{'icon-cart.svg' | inline_asset_content }}</span>
          {%- if cart != empty -%}
            <div class="cart-count-bubble position-absolute top-0 right-0">
              {%- if cart.item_count < 100 -%}
                <span aria-hidden="true">{{ cart.item_count }}</span>
              {%- endif -%}
            </div>
          {%- endif -%}
        </a>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Header",
    "enabled_on": {
      "groups": ["header"]
    },
    "settings": [],
    "presets": [
      {
        "name": "Header"
      }
    ]
  }
{% endschema %}