<form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
  {%- if cart != empty -%}
    <table class="cart-items">
      <thead>
        <tr>
          <th class="caption-with-letter-spacing" colspan="2" scope="col">
            {{ 'sections.cart.headings.product' | t }}
          </th>
          <th class="medium-hide large-up-hide right caption-with-letter-spacing" colspan="1" scope="col">
            {{ 'sections.cart.headings.total' | t }}
          </th>
          <th
            class="cart-items__heading--wide cart-items__heading--quantity small-hide caption-with-letter-spacing"
            colspan="1"
            scope="col"
          >
            {{ 'sections.cart.headings.quantity' | t }}
          </th>
          <th class="small-hide right caption-with-letter-spacing" colspan="1" scope="col">
            {{ 'sections.cart.headings.total' | t }}
          </th>
        </tr>
      </thead>
    </table>
  {% endif %}
</form>
{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
  ]
}
{% endschema %}
